.addRemove{
    border:1px solid lightgray;
    border-radius:40px;
    padding: 7px 10px;
    width:104px;
    margin-bottom: 50px;
}

input,.counter{
    border:none;
    background-color: white;
    font-size: 16px;
}

.counter:hover{
    color:crimson;
}
button{
    font-size: 20px;
}

input{
    width:35px;
    text-align: center;
}



.addButton{
    background-color: crimson;
    color:white;
    border-radius: 40px;
    padding:10px;
    width: 100px;
    margin-bottom: 100px;
    font-size: 15px;
    border:none;
}



